*{
    padding: 0;
    margin: 0;
}

.card {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 500px;
    height: 300px;
    margin: 10px;
    margin-top: 50px;
    padding: 90px 50px 50px;
    display: inline-block;
    vertical-align:top;
    position: relative;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0) 10px 0 1px;
    font-size: large;
    font-weight: bold;
    
  }

.question{
    font-size: 35px;
    font-weight: 600;
}
.option{
    font-size: 25px;
    font-weight: 500;
}
.answer{
    top: 40%;
    width: 100%;
    font-size: 20px;

}


@media screen and (max-width:600px){
    .card{
        width: 100%;
        margin: 0 0 10px 0;
        height: 250px;
    }
    .answer{
        font-size: 15px;
    }
    .question{
        font-size: 20px;
    }
    .option{
        font-size: 15px;
    }

}