
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@900&display=swap');
:root {
  font-family: 'Roboto Flex', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: url(./assets/images/reactbg.jpeg);
  background-size:auto;
}

a {
  font-weight: 500;
  color: yellow;
  text-decoration: inherit;
}
a:hover {
  color: #0a119e;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color:rgb(255, 255, 255);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,h3,h4 {
  text-shadow: rgb(0, 0, 0) 10px 0 1px;
}

p {
  font-size: x-large;
}
.container {
  margin-top: 100px;
}

.submit {
  display: flex; 
  justify-content: space-between;
  width: 40%;
  margin: auto;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  color: black;
}

.submit form, label, input{
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-top:5px;
  margin-bottom:5px;
  font-size:small;
  max-width: 100%;
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 20%;
  margin: auto;
  margin-top: 20px;

}

.nav div {
  width: 60%;

}

.nav button {
  
  font-size: 40px;
  background-color: transparent;
  border-color: transparent;
}


